#divPretragaOutput {
	margin: 20px;
	vertical-align:middle;
	border:5px solid #bedee3;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	
	width:30%;
	display:inline-block; 
	vertical-align:middle; 
	text-align:center;
}

.panelGridOglasi {
	display: inline;
	float: none;
	vertical-align:middle
}