@CHARSET "UTF-8";

.ui-menubar,.ui-menu-child,.ui-menu {
    background: white !important;
    font-size: 14px;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Arial;
}

.container { 
  width: 100%;
  height: 100%;
}

.leftpane {
	vertical-align:middle; 
	text-align:center;
    width: 25%;
  	min-height: 100%;
    float: left;
    background-color: #ddd;
    border-collapse: collapse;
}

.middlepane {
	vertical-align:middle; 
	text-align:center;
    width: 50%;
  	min-height: 100%;
    float: left;
    background-color: #eee;
    border-collapse: collapse;
    position: relative;
    margin: 0 auto;
}

.rightpane {
  vertical-align:middle; 
  text-align:center;
  width: 25%;
  min-height: 100%;
  position: relative;
  float: right;
  background-color: #ddd;
  border-collapse: collapse;
}

.sadrzaj {
	padding:10px;
}

.reklamaDiv {
	width:80%;
	display:inline-block; 
	vertical-align:middle; 
	text-align:center;
}

img {
	max-height:150px; 
	max-width:150px;
}

.feedTekst {
	font-size: 10px;
}

.tabelaFeeds {
	table-layout: fixed;
    width: 100%;  
    height: 100%;
    word-break:break-all;
}

th,td {
    word-wrap: break-word;
    font-size: 12px;
    padding: 5px;
}

.radio-inline {
	font-size: 16px;
}

.panelGridOglasi td {
	font-size: 16px;
}

#middleDiv {
	width:80%;
	heigth:100%;
	margin:0 auto;
}

#divOglasi {
	margin: 20px;
	vertical-align:middle;
	border:5px solid #bedee3;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}

.panelGridOglasi {
	display: inline;
	float: none;
	vertical-align:middle
}

#divRightPane {
	text-align: justify;
	width:80%;
	display:inline-block; 
	font-size:13px;
	white-space: normal;
  	overflow: hidden;
  	margin:10px;
}

.panelGridPretraga{
	display: inline;float: none;
}
